@import "tailwindcss";

@theme {
  --color-primary: #f42c37;
  --color-secondary: #f42c37;
  --color-brandYellow: #fdc62e;
  --color-brandGreen: #2dcc6f;
  --color-brandBlue: #1376f4;
  --color-brandWhite: #eeeeee;
}

.container {
  @apply mx-auto px-4 sm:px-12;
}

.search-bar {
  @apply  w-0 
          group-hover:w-[300px] 
          transition-all duration-300 
          rounded-full 
          border border-transparent 
          group-hover:border-gray-500 
          px-3 py-1 
          focus:outline-none;
}